/* footer-1 */
.main-menu-container {
    height: 400px;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main-menu {
    margin: 40px 0 60px 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: 80%;
}

.main-menu div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-menu h3 {
    color: #ffffff;
}

.main-menu ul a {
    text-decoration: none;
    list-style: none;
    color: #959595;
    font-size: smaller;
}

.big-logo-container {
    background-image: url(../img/dc-logo-bg.png);
    width: 550px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 200px;
    position: absolute;
    top: -80px;
    right: 0px;
}


/* footer-2 */
.subscriptions-container {
    height: 100px;
    background-color: #303030;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
}

.subscriptions-container button {
    height: 50px;
    width: 125px;
    font-weight: bold;
    border-color: #0282f9;
    background-color: transparent;
    color: #ffffff;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social h3 {
    color: #0282f9;
    font-size: medium;
}