/* main-1 */
.main-contents {
    background-color: #000000;
    font-size: larger;
    font-weight: bold;
}

.jumbotron {
    height: 350px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.jumbotron button {
    height: 50px;
    width: 200px;
    font-size: large;
    font-weight: bold;
    color: #ffffff;
    background-color: #0282f9;
    border: 0;
    position: absolute;
    left: 250px;
    bottom: -25px;
}

/* main-2 */
.hero {
    height: 150px;
    width: 150px;
}

.comics-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.hero-container {
    width: calc(95% / 6);
}

/* main-3 */
.main-shop {
    height: 150px;
    background-color: #0282f9;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 1;
}

.mini-logos-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mini-logos {
    width: 40px;
    height: 55px;
}

.mini-logos-container a {
    text-decoration: none;
    color: #ffffff;
}