/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}



header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 130px;
  gap: 350px;
}

header div ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

header div ul li a {
  text-decoration: none;
  color: #46464c;
  font-size: small;
  font-weight: bold;
}

header div .logoHeader {
  width: 80px;
  height: 80px;
}

.bb-blue {
  color: #0282f9;
  border-bottom: 3px solid;
}