/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


/* HEADER */
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 130px;
  gap: 350px;
}

header div ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

header div ul li a {
  text-decoration: none;
  color: #46464c;
  font-size: small;
  font-weight: bold;
}

header div .logoHeader {
  width: 80px;
  height: 80px;
}

.bb-blue {
  color: #0282f9;
  border-bottom: 3px solid;
}

/* HEADER */


/* MAIN */

/* main-1 */
.main-contents {
  background-color: #000000;
  font-size: larger;
  font-weight: bold;
  padding: 50px 0px 45px 130px;
}

.main-contents a {
  color: #ffffff;
  text-decoration: none;
}

/* main-2 */
.main-shop {
  height: 150px;
  background-color: #0282f9;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 1;
}

.mini-logos-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mini-logos {
  width: 40px;
  height: 55px;
}

.mini-logos-container a {
  text-decoration: none;
  color: #ffffff;
}

/* main-3 */
.main-menu-container {
  height: 400px;
  display: flex;
  justify-content: space-between;
  /* importazione copertina */
  background-image: url(./img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main-menu {
  margin: 40px 0 60px 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  height: 80%;
}

.main-menu div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-menu h3 {
  color: #ffffff;
}

.main-menu ul a {
  text-decoration: none;
  list-style: none;
  color: #959595;
  font-size: smaller;
}

.big-logo-container {
  /* importazione logo big */
  background-image: url(./img/dc-logo-bg.png);
  width: 550px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 200px;
  position: absolute;
  top: -80px;
  right: 0px;
}

/* MAIN */

/* FOOTER */
.subscriptions-container {
  height: 100px;
  background-color: #303030;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 800px;
}

.subscriptions-container button {
  height: 50px;
  width: 125px;
  font-weight: bold;
  border-color: #0282f9;
  background-color: transparent;
  color: #ffffff;
}

.subscriptions-container button:hover {
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social h3 {
  color: #0282f9;
  font-size: medium;
}

/* FOOTER */